* {
	box-sizing: border-box;
}

html{
	height: 100%;
	overflow: hidden;
}

body {
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	overflow-y: scroll;
}

#root {
	height: 100vh;
}

.mainContainer{
	height: 100%;
	width: 100%;
}

html,
select {
	background: white;

	// DEFAULT FONT FOR SITE
	font-family: 'Gotham A', 'Gotham B', sans-serif;
}

img {
	max-width: 100%;
}

strong {
	font-weight: 500;
}

footer{
	height: 5%;
	background: grey;
}
