@mixin greenFeltBg {
  background-color: rgb(24, 160, 140);
  background-repeat: repeat;
  background-size: cover;
}

.greenFeltBg {
  @include greenFeltBg();
}


.default-bg {
  background-color: rgb(20, 20, 20);
}

