.AttributeList{
    &-container{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-evenly;
    }
    &-listItem{
        border: 1px solid white; 
        border-radius: .2rem; 
        text-align: center;
        flex-basis: 75px;
        margin: .5rem;
    }
    &-label{
        display: block;
        border-bottom: 2px solid white;
        padding: .3rem;
        font-weight: bold;
    }
    &-textValue{
        padding: 2rem;
    }
    &-imgValue{
       max-width: 20vw;
    }
    &-booleanValue{
        padding: 2rem;
        font-size: 2rem;
        color: transparent;  
        text-shadow: 0 0 0 white; 
    }
}