@mixin type-medium {
  font-size: 15px;
  line-height: 1.8;
}

.type-medium {
  @include type-medium();
}
@mixin type-small {
  font-size: 11px;
  line-height: 1.4;
}

.type-small {
  @include type-small;
}

@mixin type-x-small {
  font-size: 8px;
  line-height: 1;
}

.type-x-small {
  @include type-x-small
}
