.flex {
  display: flex;
  & .wrap{
    flex-wrap: wrap;
  }
}


#displayBoard {
  margin-left: 250px;
  width: 85%;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

